@font-face {
    font-family: 'AntonSC';
    src: url('../assets/fonts/AntonSC-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Pixelify';
    src: url('../assets/fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
}

.portada{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 4rem 6rem 0rem;
}

.textGrill{
    align-items: center;
    justify-items: center;
}

h1{
    font-family: 'AntonSC', sans-serif;
    font-size: 36px;
    line-height: 0.6;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    
}

.h1Jinx{
    color: #167FBB;
}

p{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 24px;
    letter-spacing:0;
    line-height: 1.2;
    font-weight: 300;
    color: black;
}
.fotoPerfil{
  transition: transform 0.3s ease;
  --s: 350px;   /* the size of the image */
  --b: 5px;     /* the border thickness*/
  --g: 14px;    /* the gap */
  --c: #167FBB; /* the color */
  width: var(--s);
  outline: calc(var(--s)/2) solid rgba(0, 0, 0, 0);
  outline-offset: calc(var(--s)/-2);
  cursor: pointer;
  transition: .3s;;
  border-radius: 50%;
}



.fotoPerfil:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
  transform: scale(1.05) translateY(-5px);
  animation: none;

}


.copy-popup {
  font-family: 'Pixelify', sans-serif;
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 20px;
  animation: fade 2s ease-out;
  z-index: 9999;
}

@keyframes fade {
  0% { opacity: 0; transform: translateX(-50%) translateY(10px); }
  10% { opacity: 1; transform: translateX(-50%) translateY(0); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translateX(-50%) translateY(-10px); }
}

.redesSociales {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  position: relative;
  z-index: 10;
}

.redesSociales li {
  list-style: none;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.5s;
}

.redesSociales li a {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.redesSociales li::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
  z-index: 0;
}

.redesSociales li::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  transition: 0.5s;
  filter: blur(15px);
  z-index: -1;
  opacity: 0;
}

.redesSociales li:hover {
  width: 180px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.redesSociales li:hover::before {
  opacity: 1;
}

.redesSociales li:hover::after {
  opacity: 0.5;
}

.redesSociales li ion-icon {
  color: black;
  font-size: 2rem;
  transition: 0.5s;
  transition-delay: 0.25s;
  z-index: 1;
}

.redesSociales li:hover ion-icon {
  transform: scale(0);
  color: black;
  transition-delay: 0s;
}

.redesSociales li .title {
  position: absolute;
  color: #fff;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
  z-index: 1;
}

.redesSociales li:hover .title {
  transform: scale(1);
  transition-delay: 0.25s;
}

@media (max-width: 600px) {
  .portada{
    display:block;
    margin: 2rem 2rem 0;
}


h1{
    font-size: 60px;
    line-height: 0.6;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: justify;
    
}

p{
    margin: 0 5rem;
    font-size: 50px;
    line-height: 1.2;
    font-weight: 300;
    color: black;
}

.divImg{
  visibility:hidden;
  height: 0;

}

.divLk{
  padding: 2rem;
  height: 50px;
}

.redesSociales {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10rem;
  row-gap: 5rem;
}

.redesSociales li {
  width: 100px;
  height: 100px;
}

.redesSociales li:hover {
  width: 300px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.redesSociales li ion-icon {
  color: black;
  font-size: 8rem;
  transition: 0.5s;
  transition-delay: 0.25s;
  z-index: 1;
}

.redesSociales li .title {
  font-size: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
  z-index: 1;
}
  
}
