@font-face {
    font-family: 'BebasNeue';
    src: url('../assets/fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Pixelify';
    src: url('../assets/fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
}


.divTitulo {
  padding-bottom: 1.5rem;
  display: flex;
  position: static;
  justify-content: left;
  align-items: center;
  top: 60px;
  flex: 0 0 30%;
  height: fit-content;
}

.nubeTitulo{
    height: 50px;

}

.titulo{
    font-family: 'BebasNeue', sans-serif;
    font-size: 36px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.skills-container {
  margin: 2rem 6rem 1rem ;
  display:grid;
  position: relative;  
}


.skills-sections {
  justify-items: center;
  padding-left: 10rem;
}

.skill-block {

  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3{
  font-family: 'Pixelify', sans-serif;
  font-size: 36px;
  font-weight: 200;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.skillBars{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
  column-gap:5rem;
  row-gap: 2rem;
  padding: 1rem 0 5rem 0;
}

@media (max-width: 600px) {

  .skills-container {
    margin: 1rem 1rem 1rem ;
    display:grid;
    position: relative;  
  }

  .divTitulo {
    padding-bottom: 1.5rem;
    justify-content: center;
    top: 0px;
    height: fit-content;
  }

  .nubeTitulo{
      height: 100px;

  }

  .titulo{
      font-family: 'BebasNeue', sans-serif;
      font-size: 70px;
      text-align: center;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }


.skills-sections {
  justify-items: center;
  padding-left: 0rem;
}

h3{
  font-family: 'Pixelify', sans-serif;
  font-size: 80px;
  font-weight: 200;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.skillBars{
  display: grid;
  grid-template-columns: 1fr 1fr;  
  column-gap:5rem;
  row-gap: 2rem;
  padding: 1rem 0 5rem 0;
}

}